<div class="container_subscribe">
    <section class="subscribe">       
       <section class="subscribe__blocks">       
          <div class="subscribe__images">
                <img class="subscribe__image1" src="./images/fruit.jpg" >
                <img class="subscribe__image2" src="./images/blueberry.jpg">       
          </div>
          <div class="subscribe__title">Fresh Harvest Box has got you covered</div>
       </section>  
    </section>    
    <section class="subscribe__block">
      <div class="subscribe__text">
        <div class="subscribe__textOur"><p>Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p></div>
      </div>
      <div class="subscribe__input">
        <div class="subscribe__button_send">
            <div class="subscribe__send">send</div>
         </div>
        <div class="subscribe__rectangle-email">
            <div class="subscribe__enter-email">Enter email...</div>
        </div>
      </div>
    </section>
</div>